<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px;">TRA CỨU THÔNG TIN</a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
            </div>
            <div class="col-xs-6" style="text-align: center;width: 50%">
                <div class="item">
                    <img src="../../assets/budget-money-64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='openaccount'>Mở tài khoản</a>
                </div>
                <div class="item">
                    <img src="../../assets/report-icon.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='listdeposittransaction'>Liệt kê giao dịch tiền gửi</a>
                </div>
            </div>
            <div class="col-xs-6" style="text-align: center;width: 50%;">
                <div class="item">
                    <img src="../../assets/Emblem-Money-64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='automaticdeposit'>Đăng ký trích tiền tự động</a>
                </div>
                <div class="item">
                    <img src="../../assets/sales-report-icon-64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='canceldeposit'>Hủy đăng ký rút tiền</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <p>searchinfo laptop</p>
</div>
<!--END LAPTOP-->