<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px; text-transform: uppercase">	BLUE DIAMOND
                    </a>
            </div>
            <table style="width: 100%;">
                    <tr>
                        <td style="background: #005b90;text-align: center;height: 20px;" class="white_tieude">
                            
                            THÔNG BÁO
                        </td>
                    </tr>
            </table>
            <table style="width:300px;margin-left: auto;margin-right: auto;" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td style="width:300px;text-align: left;height: 30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Để phục vụ việc chuyển đổi hệ thống mới, các nghiệp vụ liên quan đến chương trình Blue Diamond tạm dừng trên <b>ACB Online</b>. Quý khách vui lòng đến CN/PGD gần nhất hoặc liên hệ <b>1900 54 54 86 - (028) 38 247 247</b>.<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Xin lỗi Quý khách vì sự bất tiện này.</td>
                    </tr>
                </tbody></table>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <p>bluediamond laptop</p>
</div>
<!--END LAPTOP-->