<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px;"> DANH SÁCH TÀI KHOẢN ĐĂNG KÝ TRÍCH TIỀN</a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; height: 12px;"></a>
            </div>
            <div class="col-xs-12" style="width: 100%">
                <table class="acctSum" width="100%" cellspacing="1" cellpadding="0" id="table">         
                    <tbody>
                        <tr class="evenrowcolor">
                            <th class="acctSum" style="text-align: center">Tài khoản trích</th><div style="width: 1px;background:white;height:100%;"></div>
                            <th class="acctSum" style="text-align: center">Tài khoản nhận</th><div style="width: 1px;background:white;height:100%;"></div>
                            <th class="acctSum" style="text-align: center">Số tiền giữ lại tối thiểu</th><div style="width: 1px;background:white;height:100%;"></div>
                            <th class="acctSum" style="text-align: center">Hủy dịch vụ</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <p>onlineloan laptop</p>
</div>
<!--END LAPTOP-->