<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px;">TRA CỨU THÔNG TIN</a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
            </div>
            <div class="col-xs-6" style="text-align: center;width: 50%">
                <div class="item">
                    <img src="../../assets/note-64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='signup'>Đăng ký</a>
                </div>
                <div class="item">
                    <img src="../../assets/Actions-page-zoom-icon-64.png" width="64px" style="border-style: none">
                    <br>
                    <a style="color: gray" class="name" >Tra cứu thông tin</a>
                </div>
            </div>
            <div class="col-xs-6" style="text-align: center;width: 50%;">
                <div class="item">
                    <img src="../../assets/report-icon.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" style="color: gray">Liệt kê giao dịch</a>
                </div>
                <div class="item">
                    <img src="../../assets/western_union.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" style="color :gray;" >Nhận tiền kiều hối</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <p>westernunion laptop</p>
</div>
<!--END LAPTOP-->