<div class="mobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px; text-transform: uppercase">NẠP TIỀN CHO THUÊ BAO TRẢ TRƯỚC</a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
            </div>
            <div class="col-xs-12" style="text-align: center;width: 100%;">
                <a style="color: red;font-size: 12px;">Quý khách vui lòng kiểm tra lại các thông tin giao dịch bên dưới. Giao dịch này sẽ được ACB Online xử lý ngay khi Quý khách ký xác nhận.</a><br>
                
            </div>
            <div style="width: 100%;" class="datetime">
                <a  style="font-size: 12px;">Ngày giờ lập 07/11/2019 23:42:54</a>
            </div>
            <table style="width: 100%;">
                <tr>
                    <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
						
						THÔNG TIN NẠP TIỀN CHO THUÊ BAO TRẢ TRƯỚC
					</td>
                </tr>
                <tr>
                    <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width: 27%;">Tài khoản trích tiền</td>
                                    <td style="width:73%">
                                        <a style="font-weight: bold;">4504727 – TGTT SINH VIEN KHTN (CN) VND</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 27%;">Số điện thoại</td>
                                    <td style="width:73%">
                                        <a style="font-weight: bold;">0969926509</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 27%;">Số tiền </td>
                                    <td style="width:73%">
                                        <a style="font-weight: bold;">30.000 VND</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 27%;">Nội dung giao dịch</td>
                                    <td style="width:73%">
                                        <a style="font-weight: bold;">NGUYEN TIEN DAT NAP TIEN CHO SDT 0969926509</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                
            </table>
            <table style="width: 100%;">
                <tr>
                    <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
                        
                        XÁC THỰC GIAO DỊCH
                    </td>
                </tr>
                <tr>
                    <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table>
                            <tbody>
                                
                                <tr>
                                    <td style="width: 27%;"> Nhập mật khẩu đăng nhập</td>
                                    <td style="width:73%">
                                        <input style="width: 100%;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    
                </tr>
            </table>
            <table style="width: 100%;margin-left: 5px;margin-right: 5px;">
                    <tbody>
                        
                        <tr>
                            <td style="width: 30%;">OTP SMS</td>
                            <td style="width:35%">
                                <input style="width: 100%;">
                            </td>
                            <td style="width:35%">
                                <input style="width: 100%;">
                            </td>
                        </tr>
                    </tbody>
            </table>
            <div style="width: 100%;text-align: center;">
                    <input name="button" type="button" class="nut1" id="button" value="Xác nhận" routerLink='../notify'>
                    <input name="button2" type="button" class="nut1" id="button2" value="Quay lại" >
                    <input name="button2" type="button" class="nut1" id="button2" value="Hủy giao dịch">
            </div>
        </div>
    </div>
</div>