<div class="container">
    <div class="row">
        <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
            <a style="color: #0071bc; font-weight:bold;font-size: 13px; text-transform: uppercase">Chuyển khoản trong hệ thống ACB</a>
        </div>
        <div class="col-xs-12" style="text-align: right;width: 100%;">
            <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
        </div>
        <div class="col-xs-12" style="width: 100%;">
            <hr>
        </div>
        <div class="col-xs-12" style="text-align: center;width: 100%;">
            <a style="color: #0D1B9F;font-size: 10px;">Kết quả chuyển khoản</a>
        </div>
        <div class="col-xs-12" style="text-align: left;width: 100%;margin-left: 10%;margin-right: 10%;">
            <a style="font-size: 10px;">Giao dịch được thực hiện thành công, Quý khách có muốn thực hiện gao dịch tiếp theo</a>
        </div>
        <div class="col-xs-12" style="width: 100%;">
            <hr>
        </div>
        <div style="width: 100%;margin-top: 100px;text-align: center;margin-bottom: 20px;">
            <input name="button" type="button" class="nut1" id="button" value="Xác nhận">
            <input name="button2" type="button" class="nut1" id="button2" value="Quay lại" >
        </div>
    </div>
</div>