<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px; text-transform: uppercase"> Thay đổi mật khẩu đăng nhập </a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
            </div>
            <table style="width: 100%;">
                <tr>
                    <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
						
						THÔNG TIN MẬT KHẨU 
					</td>
                </tr>
                <tr>
                    <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table style="width: 100%" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td style="width:45%;" height="30" class="text_bold">
                                Tên truy cập </td>
                                <td style="width:55%;text-align:left;"><input type="text" name="UserNameNew" value="{{authen.currentUserValue.accountNumber}}" size="25" id="UserNameNew" disabled="disabled">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:45%;" height="30" class="text_bold">Mật khẩu mới</td>
                                <td style="width:55%;text-align:left;">
                                    <div>
                                        <input [(ngModel)]="newpass" type="password" name="NewPass" value="" size="25" id="NewPass">
                                        <div class="validNewPass" style="display: none;">
                                        <img src="/acbib/img/icon/valid.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                        </div>
                                        <div class="failNewPass" style="display: none;">
                                        <img src="/acbib/img/icon/fail.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:45%;height: 30px;" class="text_bold">Xác nhận mật khẩu mới</td>
                                <td style="width:55%;text-align:left;">
                                    <div>
                                        <input [(ngModel)]="confirmpass" type="password" name="ReNewPass" value="" size="25" id="ReNewPass" >
                                        <div class="validReNewPass" style="display: none;">
                                        <img src="/acbib/img/icon/valid.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                        </div>
                                        <div class="failReNewPass" style="display: none;">
                                        <img src="/acbib/img/icon/fail.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr *ngIf="!ismatch" style="text-align: center;">
                    <p style="color: red;">Mau khau khong giong nhau</p>
                </tr>
                <tr>
                    <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
						
						phương pháp xác thực
					</td>
                </tr>
                <tr>
                    <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width:45%;height: 30px;" class="text_bold">Nhập lại mật khẩu cũ</td>
                                    <td style="width:55%;text-align:left;">
                                        <div>
                                            <input [(ngModel)]="oldpass" type="password" name="ReNewPass" value="" size="25" id="ReNewPass" >
                                            <div class="validReNewPass" style="display: none;">
                                            <img src="/acbib/img/icon/valid.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                            </div>
                                            <div class="failReNewPass" style="display: none;">
                                            <img src="/acbib/img/icon/fail.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr *ngIf="!isoldpassmatch" style="text-align: center;">
                    <p style="color: red;">Mau khau khong dung</p>
                </tr>
                <tr style="text-align:center;">
                    
                    <input (click)="changePass()" name="button" type="button" class="nut1" id="button" value="Đồng ý">
                    <input name="button2" type="button" class="nut1" id="button2" value="Hủy">
                </tr>
                <tr>
                    <p>
                        <span class="note-red" style="text-decoration: underline;">Lưu ý:</span><br><span class="copyright">
                        &nbsp;&nbsp;&nbsp;&nbsp;• Mật khẩu đăng nhập có độ dài từ 6 đến 20 ký tự. Bao gồm tối thiểu “chữ thường + chữ Hoa + chữ số” (ví dụ: ACBOnline123) hoặc “chữ thường + chữ số + ký tự đặc biệt, trừ ký tự \ &lt; &gt; (ví dụ: @cbonline123). Mật khẩu đăng nhập không được giống với mật khẩu đã sử dụng lần gần nhất. Thời gian hiệu lực của mật khẩu tối đa là 12 tháng.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;• Để đảm bảo tính an toàn, bảo mật, Quý khách không cung cấp Tên truy cập &amp; Mật khẩu cho bất kỳ ai và dưới bất kỳ hình thức nào (ngoại trừ website/ ứng dụng chính thức của ACB).<br>
                        </span></p>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <div class="">
        <div class="row" style="margin-right: auto;margin-left: auto;">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px; text-transform: uppercase"> Thay đổi mật khẩu đăng nhập </a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
            </div>
            <table style="width: 100%;">
                <tr>
                    <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
						
						THÔNG TIN MẬT KHẨU 
					</td>
                </tr>
                <tr>
                    <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table style="width: 100%" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td style="width:45%;" height="30" class="text_bold">
                                Tên truy cập </td>
                                <td style="width:55%;text-align:left;"><input type="text" name="UserNameNew" value="{{authen.currentUserValue.accountNumber}}" size="25" id="UserNameNew" disabled="disabled">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:45%;" height="30" class="text_bold">Mật khẩu mới</td>
                                <td style="width:55%;text-align:left;">
                                    <div>
                                        <input [(ngModel)]="newpass" type="password" name="NewPass" value="" size="25" id="NewPass">
                                        <div class="validNewPass" style="display: none;">
                                        <img src="/acbib/img/icon/valid.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                        </div>
                                        <div class="failNewPass" style="display: none;">
                                        <img src="/acbib/img/icon/fail.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:45%;height: 30px;" class="text_bold">Xác nhận mật khẩu mới</td>
                                <td style="width:55%;text-align:left;">
                                    <div>
                                        <input [(ngModel)]="confirmpass" type="password" name="ReNewPass" value="" size="25" id="ReNewPass" >
                                        <div class="validReNewPass" style="display: none;">
                                        <img src="/acbib/img/icon/valid.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                        </div>
                                        <div class="failReNewPass" style="display: none;">
                                        <img src="/acbib/img/icon/fail.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr *ngIf="!ismatch" style="text-align: center;">
                    <p style="color: red;">Mau khau khong giong nhau</p>
                </tr>
                <tr>
                    <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
						
						phương pháp xác thực
					</td>
                </tr>
                <tr>
                    <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width:45%;height: 30px;" class="text_bold">Nhập lại mật khẩu cũ</td>
                                    <td style="width:55%;text-align:left;">
                                        <div>
                                            <input [(ngModel)]="oldpass" type="password" name="ReNewPass" value="" size="25" id="ReNewPass" >
                                            <div class="validReNewPass" style="display: none;">
                                            <img src="/acbib/img/icon/valid.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                            </div>
                                            <div class="failReNewPass" style="display: none;">
                                            <img src="/acbib/img/icon/fail.png" width="16px" style="border-style: none; vertical-align: bottom;">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr *ngIf="!isoldpassmatch" style="text-align: center;">
                    <p style="color: red;">Mau khau khong dung</p>
                </tr>
                <tr style="text-align:center;">
                    
                    <input (click)="changePass()" name="button" type="button" class="nut1" id="button" value="Đồng ý">
                    <input name="button2" type="button" class="nut1" id="button2" value="Hủy">
                </tr>
                <tr>
                    <p>
                        <span class="note-red" style="text-decoration: underline;">Lưu ý:</span><br><span class="copyright">
                        &nbsp;&nbsp;&nbsp;&nbsp;• Mật khẩu đăng nhập có độ dài từ 6 đến 20 ký tự. Bao gồm tối thiểu “chữ thường + chữ Hoa + chữ số” (ví dụ: ACBOnline123) hoặc “chữ thường + chữ số + ký tự đặc biệt, trừ ký tự \ &lt; &gt; (ví dụ: @cbonline123). Mật khẩu đăng nhập không được giống với mật khẩu đã sử dụng lần gần nhất. Thời gian hiệu lực của mật khẩu tối đa là 12 tháng.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;• Để đảm bảo tính an toàn, bảo mật, Quý khách không cung cấp Tên truy cập &amp; Mật khẩu cho bất kỳ ai và dưới bất kỳ hình thức nào (ngoại trừ website/ ứng dụng chính thức của ACB).<br>
                        </span></p>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--END LAPTOP-->
