<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px; text-transform: uppercase">Chuyển tiền vào thẻ ACB</a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
            </div>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
                            
                            Tài khoản trích tiền 
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                            <table style="width: 100%" cellspacing="0" cellpadding="0">
                              <tbody><tr>
                                <td style="width:27%" height="30"> Tài khoản trích tiền</td>
                                <td style="width:73%">
                                        <select name="AccountNbrNo" id="AccountNbrNo" style="width:205px;">
                                        <option value="" selected="selected"></option>
                                        <option value="4504727">4504727</option>
                                        </select>
                                </td>
                              </tr>
                              <tr>
                                <td></td>
                                <td><span class="alert">
                                 </span></td>
                              </tr>
                              <tr>
                                <td style="width:27%; height: 30px;"> Số thẻ nhận tiền</td>
                                <td style="width:73%">
                                        <select name="AccountNbrCo" id="AccountNbrCo" style="width:205px;">
                                        <option value="" selected="selected"></option>
                                        <option value="4565805">4214 9458 0537 6928 (NGUYEN TIEN DAT)</option>
                                        </select>
                                </td>
                              </tr>
                            
                              <tr>
                                  <td style="height: 30px;">Số tiền</td>
                                  <td><input type="text" name="Amount" value="" size="30" id="Amount"  maxlength="18"></td>
                              </tr>	                     
                             <tr>
                                <td style="height: 3px;" colspan="2"></td>
                            </tr>
                            <tr>
                                <td style="width:27%">Số tiền bằng chữ</td>
                                <td style="width:73%"><textarea name="AmountWord" cols="" rows="" wrap="soft" class="text_sotien" id="AmountWord" readonly=""></textarea></td>
                            </tr>
                            <tr>
                                <td style="height: 7px;" colspan="2"></td>
                            </tr>
                            <tr>
                                <td valign="top">Nội dung chuyển tiền vào thẻ<input type="hidden" name="glbHoTen" value="NGUYEN TIEN DAT"></td>
                                <td><textarea name="Description" cols="" rows="" wrap="soft" class="text_noidung"></textarea></td>
                            </tr>
                            <tr>
                                <td style="height: 3px;" colspan="2"></td>
                            </tr>
                            
                            </tbody>
                        </table>
                    </td>
                    </tr>
                    <tr>
                        <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
                            THỜI GIAN CHUYỂN
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table style="width:100%" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td><input type="radio" name="IsFundAfter" value="false" checked="checked" id="isfund1"> Chuyển khoản ngay</td>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="10" colspan="3"></td>
                            </tr>
                            <tr>
                                <td style="height: 20px;width:27%;"><input type="radio" name="IsFundAfter" value="true" id="isfund2"> Chuyển khoản sau vào ngày</td>
                                <td style="height: 20px;width:73%;"><input type="text" name="TransDate" value="" size="20" id="TransDate" maxlength="10" disabled="">&nbsp;dd/mm/yyyy</td>
                                <td width="0%">
                                </td>
                            </tr>
                        </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
                            
                            phương pháp xác thực
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width: 27%;">Chọn phương pháp xác thực</td>
                                        <td style="width:73%"><select name="AccountNbrNo" id="AccountNbrNo" style="width:205px;">
                                            <option value="" selected="selected"></option>
                                            <option value="4504727">OTP + mật khẩu</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="error" style="text-align: left;">
                            Giao dịch chuyển tiền vào thẻ sau 16h45' (thứ 2 - thứ 6) và sau 11h15' (thứ 7) sẽ được xử lý vào ngày làm việc kế tiếp.
                        </td>
                    </tr>
                    <tr style="text-align: center">
                        <input name="button" type="button" class="nut1" id="button" value="Đồng ý">
                        <input name="button2" type="button" class="nut1" id="button2" value="Hủy">
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <p>transfertocardacb laptop</p>
</div>
<!--END LAPTOP-->
