<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px;text-transform: uppercase;;">Mở tài khoản đầu tư trực tuyến</a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
            </div>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="text-align:center;background-color:#005b90;" class="white_tieude">					
                            THÔNG TIN KHÁCH HÀNG
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width:100%;text-align:left;">Họ tên </td>
                        <td style="width: 73%;"> <input type="text" name="hoten" value="NGUYEN TIEN DAT" size="35" disabled="disabled"></td>
                    </tr>
                    
                    <tr>
                        <td style="width:100%;text-align:left;">Số CMND </td>
                        <td style="width: 73%;"> <input type="text" name="cmnd" value="XXXXXX165" disabled="disabled"></td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="text-align:center;background-color:#005b90;" class="white_tieude">					
                            YÊU CẦU MỞ TÀI KHOẢN
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 0px;height: 27px;text-align: left;">
                                <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td style="width: 27%;text-align: left;">Tên tài khoản</td>
                                            <td style="width: 73%;"><select name="tk" id="tk" style="width:250px;">
                                    <option value="G100">TG DAU TU TRUC TUYEN KHTN VND</option>
                                    </select></td>
                                        </tr>		
                                    </tbody></table>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                            <td style="height: 27px;text-align: left;padding-left: 5px; padding-right: 5px; padding-top: 0px; padding-bottom: 0px;">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                    <td style="width: 27%;text-align: left;"></td>
                                    <td style="width:95%" class="acc_bold" valign="bottom">
                                    <table width="100%">
                                        <tbody><tr>
                                            <td height="20">									
                                                <a href="Request?&amp;dse_sessionId=AInLIP-5Ye-IyEV7IhJhR1-&amp;dse_applicationId=-1&amp;dse_pageId=5&amp;dse_operationName=displayPageOp&amp;dse_errorPage=menu.jsp&amp;dse_processorState=initial&amp;pageName=mibk/daututt/quydinh.jsp" target="_blank" class="acc_bold">
        
                                                    Quy định
                                                </a>&nbsp;
                                                <a href="Request?&amp;dse_sessionId=AInLIP-5Ye-IyEV7IhJhR1-&amp;dse_applicationId=-1&amp;dse_pageId=5&amp;dse_operationName=displayPageOp&amp;dse_errorPage=menu.jsp&amp;dse_processorState=initial&amp;pageName=mibk/daututt/dactinhsp.jsp" target="_blank" class="acc_bold">
        
                                                    Đặc tính sản phẩm
                                                </a>&nbsp;
                                                <a class="acc_bold" target="_blank" href="http://acb.com.vn/wps/portal/Home/Viewer/!ut/p/z1/pVFNT8MwDP0tHHqM7KZdmx4zVULqxIpAsDUX5LZhDd3SjmYD_j0ZF4T4EsInW7bfe34GBWtQlo5mQ84Mlra-rlRylyCeYxbzhQgzgVLKfCGKPCxnMdyCAtVYN7oOKmrqJ11PxukAfc6ONsBRP04nqAAdGdZ3A1nmjLZsczAB9h01AW59ZzqQO2GNjWmhEnVNaUPEokzHLA6xZXXbCjbDRIQ8SXUqEli9icNvQiKon7WvTnyfECTOr_g88msl_3LgA0XlNaTvJGV-wT3JTRkVGQ_jS4TrPx5V_Kbav8Q87PdKet8H6_Szg_W_jR93OxG9sP5-uWSqkmevYCROrw!!/dz/d5/L2dBISEvZ0FBIS9nQSEh/">Lãi suất tham chiếu</a>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody></table>
                                    </td>
                                </tr>
                            </tbody></table>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="text-align:center;background-color:#005b90;" class="white_tieude">					
                                NHẬP LẠI MẬT KHẨU
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                    <tr>
							<td style="width: 27%;text-align: left;">Mật khẩu</td>
							<td style="width: 73%;"><input type="password" name="Password" value="" size="30"></td>
						</tr>
                </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                    <tr style="text-align:center;">
                    
                    <input name="button" type="button" class="nut1" id="button" value="Đồng ý">
                    <input name="button2" type="button" class="nut1" id="button2" value="Hủy">
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <p>onlineloan laptop</p>
</div>
<!--END LAPTOP-->