<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
     <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc !important; font-weight:bold;font-size: 13px;text-transform: uppercase;"> 
                        TRẠNG THÁI KÍCH HOẠT TK NGƯNG HOẠT ĐỘNG</a>
            </div>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="height: 20px;text-align: center;background-color: #005b90" height="20" class="white_tieude">TRẠNG THÁI KÍCH HOẠT TK NGƯNG HOẠT ĐỘNG</td>
                    </tr>
                    <tr>
                        <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table style="background-color: #EFF8FA">
                            <tbody>
                                <tr>
                                    <td style="width: 27%;" class="text_bold">Số tài khoản </td>
                                    <td style="width:73%"><select name="AccountNbrNo" id="AccountNbrNo" style="width:205px;">...
                                        <option value="" selected="selected"></option>
                                        <option value="4504727">4504727</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    </tr>
                    <tr style="text-align:center;">
                    
                        <input name="button" type="button" class="nut1" id="button" value="Đồng ý">
                        <input name="button2" type="button" class="nut1" id="button2" value="Hủy">
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <p>smsbanking laptop</p>
</div>
<!--END LAPTOP-->
