<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px;">TIỀN GỬI CÓ KỲ HẠN</a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
            </div>
            <div class="col-xs-6" style="text-align: center;width: 50%">
                <div class="item">
                    <img src="../../assets/Money_Pig.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='opentermdeposit'>Mở tiền gửi có kì hạn VND</a>
                </div><br>
                <div class="item">
                    <img src="../../assets/refresh-64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='updatedirective'>Cập nhật chỉ thị tái tục</a>
                </div><br>
                <div class="item">
                    <img src="../../assets/report-icon-64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='listeddeposittransaction'>Liệt kê giao dịch tiền gửi</a>
                </div><br>
                <div class="item">
                    <img src="../../assets/AngelPig.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='littleangel'>
                        Thiên Thần Nhỏ - Tích lũy Thành Tài
                    </a>
                </div>
            </div>
            <div class="col-xs-6" style="text-align: center;width: 50%;">
                <div class="item">
                    <img src="../../assets/Money-Bag-icon-64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='optionalopentermonline'>Mở tiền gửi Online kỳ hạn tùy chọn</a>
                </div>
                <div class="item">
                    <img src="../../assets/wallet-64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='finalizationtermdeposit'>Tất toán Tiền gửi có kỳ hạn</a>
                </div>
                <div class="item">
                    <img src="../../assets/ancu.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='depositaccumulation'>
                        Tiền gửi Tích lũy An Cư Lập Nghiệp
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <p>termdeposit laptop</p>
</div>
<!--END LAPTOP-->
