<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px;">TRA CỨU THÔNG TIN</a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
            </div>
            <div class="col-xs-6" style="text-align: center;width: 50%">
                <div class="item">
                    <img src="../../assets/Bank-icon-64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" routerLink='accountinfo'>Thông tin tài khoản</a>
                </div>
                <div class="item">
                    <img src="../../assets/Metro-Currency-E-D-Blue-64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" target="_blank" href="http://acb.com.vn/wps/portal/Home/exchange">Tỷ giá</a>
                </div>
                <div class="item">
                    <img src="../../assets/Interest_64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" target="_blank" href="http://acb.com.vn/wps/portal/Home/fee">Biểu phí</a>
                </div>
            </div>
            <div class="col-xs-6" style="text-align: center;width: 50%;">
                <div class="item" style="height: 88px;">
                </div>
                <div class="item">
                    <img src="../../assets/icon_transfer_64.png" width="64px" style="border-style: none">
                    <br>
                    <a class="name" target="_blank" href="http://acb.com.vn/wps/portal/Home/Viewer/!ut/p/z1/pVFNT8MwDP0tHHqM7KZdmx4zVULqxIpAsDUX5LZhDd3SjmYD_j0ZF4T4EsInW7bfe34GBWtQlo5mQ84Mlra-rlRylyCeYxbzhQgzgVLKfCGKPCxnMdyCAtVYN7oOKmrqJ11PxukAfc6ONsBRP04nqAAdGdZ3A1nmjLZsczAB9h01AW59ZzqQO2GNjWmhEnVNaUPEokzHLA6xZXXbCjbDRIQ8SXUqEli9icNvQiKon7WvTnyfECTOr_g88msl_3LgA0XlNaTvJGV-wT3JTRkVGQ_jS4TrPx5V_Kbav8Q87PdKet8H6_Szg_W_jR93OxG9sP5-uWSqkmevYCROrw!!/dz/d5/L2dBISEvZ0FBIS9nQSEh/">Lãi xuất</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <p>searchinfo laptop</p>
</div>
<!--END LAPTOP-->