<!--MOBILE-->
<div class="mobile" *ngIf="loginService.isMobile">
     <div class="container">
        <div class="row">
            <div class="col-xs-12" style="float: left;background: rgb(240, 240, 240);width: 100%">
                <a style="color: #0071bc; font-weight:bold;font-size: 13px; text-transform: uppercase">Tất toán tài khoản tiền gửi an cư lập nghiệp</a>
            </div>
            <div class="col-xs-12" style="text-align: right;width: 100%;">
                <a style="color: #5abfff; font-size:12px;">Trợ giúp</a>
            </div>
            <table style="width: 100%;">
                <tr>
                    <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
						
                         TÀI KHOẢN TIỀN GỬI CÓ KỲ HẠN 
					</td>
                </tr>
                <tr>
                    <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table style="width:100%" cellspacing="0" cellpadding="0">
                          <tbody><tr valign="bottom">
                          	<td style="width:27%;height:25px" >Số tài khoản</td><td style="width:73%">
                                <select name="AccountNbrNo" id="AccountNbrNo" style="width:250px;">
                                <option value="" selected="selected">Chọn tài khoản...</option>
                                <option value="4504727">4504727 - TGTT SINH VIEN KHTN (CN) VND</option>
                                </select></td>
                          </tr>
                          <tr>
							<td></td>
							<td height="5"><span class="alert">
							<br>
							 </span></td>
						</tr>
						<tr>
							<td></td>
							<td height="5"><span class="alert">
							 </span></td>
						</tr>	
						
	              
                          </tbody></table>
                          </td>
                </tr>
                <tr>
                    <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
						
                        Chuyển tiền vào tài khoản tiền gửi thanh toán 
					</td>
                </tr>
                <tr>
                    <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table style="width:100%" cellspacing="0" cellpadding="0">
                          <tbody><tr valign="bottom">
                          	<td style="width:27%;height:25px" >Số tài khoản</td><td style="width:73%">
                                <select name="AccountNbrNo" id="AccountNbrNo" style="width:250px;">
                                <option value="" selected="selected"></option>
                                <option value="4504727">4504727 - TGTT SINH VIEN KHTN (CN) VND</option>
                                </select></td>
                          </tr>
                         
	              
                          </tbody></table>
                          </td>
                </tr>
                <tr>
                    <td style="background: #005b90;text-align: left;height: 20px;" class="white_tieude">
						
						phương pháp xác thực
					</td>
                </tr>
                <tr>
                    <td style="height: 27px;background:#ffffff;padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width:27%;">Chọn phương pháp xác thực</td>
                                    <td style="width:73%"><select name="AccountNbrNo" id="AccountNbrNo" style="width:205px;">
                                        <option value="" selected="selected"></option>
                                        <option value="4504727">4504727</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="text-align:center;">
                    
                    <input name="button" type="button" class="nut1" id="button" value="Đồng ý">
                    <input name="button2" type="button" class="nut1" id="button2" value="Hủy">
                </tr>
            </table>
        </div>
    </div>
</div>
<!--END MOBILE-->

<!--LAPTOP-->
<div class="laptop" *ngIf="!loginService.isMobile">
    <p>sellcurrentcyforacb laptop</p>
</div>
<!--END LAPTOP-->